<div class="container">
    <div class="row">
        <div>
            <h1>NUEVO ESTUDIO</h1>
            <form  #f="ngForm" (ngSubmit)="onCreate()" novalidate >
                <div class = "form-group">
                    <label for = "nombreH">Nombre Estudio</label>
                    <input type = "text" class = "form-control" id="nombreH" name = "nombreH" [(ngModel)]="nombreE" required = "">
                    <label for = "descripcionH">Descripcion</label>
                    <input type = "text" class = "form-control" id="descripcionH" name = "descripcionH" [(ngModel)]="descripcionE" required = "">
                    <label for = "img">Imagen</label>
                    <input type = "file" class = "form-control" id="img" name = "img" [(ngModel)]="img" (change)="uploadImage($event)"
                    accept=".jpg, .jpeg, .png">

                </div>
                <button class = "btn btn-danger">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>

