
.display{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:#3f77df;
}

app-login{
    position:absolute;
    top: 225px;
    left: 100px;
    
}