<div class = "container">
    <div class = "row">
        <div class = "col-md-7" style="text-align: left;">
            
                <app-habilidades-token></app-habilidades-token>
            
            
                <button class = "btn btn" *ngIf="this.servicio.show == 1"><img src = "../../../../../assets/res/add.png" style="width: 100px; height: 100px;"></button>
            
        </div>
        <div class = "col-md-5">
            <img src="../../../../../assets/res/man standing.png">
            <button class = "btn btn-danger" style="height: 50px; padding: 10px;" *ngIf="this.servicio.show == 1"><p>Cambiar</p></button>
        </div>
    </div>
</div>
