<div class="container">
    <div class="row">
        <div>
            <h1>AGREGAR CERTIFICADO</h1>
            <form  #f="ngForm" (ngSubmit)="onCreate()" novalidate >
                <div class = "form-group">
                    <label for = "nombreH">Titulo del Certificado</label>
                    <input type = "text" class = "form-control" id="nombreC" name = "nombreC" [(ngModel)]="nombreC" required = "">
                    <label for = "descripcionH">Descripcion</label>
                    <input type = "text" class = "form-control" id="descripcionC" name = "descripcionC" [(ngModel)]="descripcionC" required = "">
                    <label for = "img">Imagen</label>
                    <input type = "file" class = "form-control" id="img" name = "img" [(ngModel)]="img" (change)="uploadImage($event)"
                    accept=".jpg, .jpeg, .png">
                
                </div>
                <button class = "btn btn-danger">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
    