img{
    width: 250px;
    height: 150px;
    padding: 5px;
}
.block{
    width: 300px;
    height:350px;
    border:3px solid #DF5D3F;
    padding: 10px;
    background-color:#48403c;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.5);
}

h2{
    font-size: 35px;
    color:#DF5D3F;
    font-weight: bold;
}

p{
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    color:white;
    font-weight: bold;
    word-wrap: break-word;
}

.descripcion{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 700px;
    height: 500px;
    margin-top: 250px;
}
button{
    margin-top: 5px;
}