
<div *ngFor="let estudio of estudios">
<div class = "container rounded">
    <div class = "row">
        <div class = "col-md-3"><img style="width: 200px; height: 200px;" src="../../../../assets/res/unknown.jpg" class = "rounded-circle"></div>
        <div class = "col-md-9">
            <h2>{{estudio.nombreE}}</h2>
            <p>{{estudio.descripcionE}}</p></div>
    </div>

    <div *ngIf="isLogged">
    <button class = "btn btn" routerLink="/editarestudio/{{estudio.id}}"><img src="../../../../assets/res/edit.png" 
        class = "rounded-circle" 
        style = "width: 30px;"></button>
    <button class = "btn btn" (click)="borrar(estudio.id)"><img src="../../../../assets/res/eliminar.png" 
        class = "rounded-circle" 
        style = "width: 30px;"></button>   
    
    
    </div>

</div>
</div>
<button *ngIf="isLogged" class = "btn btn container" routerLink="/nuevoestudio" ><img style="width: 100px;" src = "../../../../assets/res/add.png"></button>